.container__menu-title {
    color: white;
}

.container__menu-title > h1 {
    margin: 1rem 0;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.container__menu-title > hr {
    margin: 1rem 0;
}
