<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            pic="{{ mainArticle.pic.src }}"
            picAlt="{{ mainArticle.pic.alt }}"
            title="{{ mainArticle.title }}"
            desc="{{ mainArticle.desc }}"
            id="{{ mainArticle.id }}"
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card *ngFor="let article of otherArticles; let i = index"
            pic="{{ article.pic.src }}"
            picAlt="{{ article.pic.alt || '' }}"
            title="{{ article.title }}"
            id="{{ article.id }}"
        ></app-small-card>
    </div>
</div>
