<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            pic="https://repository.compasquality.siemens-info.com/bitbucket/projects/SPRING_BOOT_TUTORIAL/avatar.png?s=256&v=1565755686335"
            title="Creating REST APIs with Spring Boot"
            desc="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum similique, neque facere veniam ullam, numquam eos cupiditate nulla nobis, atque placeat fuga expedita amet ipsam."
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            pic="https://bognarjunior.files.wordpress.com/2014/12/1417589466_angular-symbol-256.png"
            picAlt="Angular framework's logo"
            title="Working with angular components"
        ></app-small-card>
        <app-small-card
            pic="https://st6.io/static/c7000851b7da77de65b2e19fda7f679c/bootstrap-and-tailwind.jpeg"
            picAlt="Bootstrap CSS and Twailwind CSS logos"
            title="Bootstrap vs Twailwind: a battle with style"
        ></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>
