@media (min-width: 576px) {
    .container__articles {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        justify-content: center;
    }

    .articles__main {
        width: 50%;
        margin-right: 1rem;
    }

    .articles__others {
        width: 50%;
        margin-left: 1rem;
    }
}
