<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            pic="https://repository.compasquality.siemens-info.com/bitbucket/projects/SPRING_BOOT_TUTORIAL/avatar.png?s=256&v=1565755686335"
            title="Creating REST APIs with Spring Boot"
            desc="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum similique, neque facere veniam ullam, numquam eos cupiditate nulla nobis, atque placeat fuga expedita amet ipsam."
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>
